<div class="row">
  <div class="col-md-6">
    <h3>June 24th: Tools</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Welcome and intro to reproducible data science</td> </tr>
      <tr> <td>13:50</td>  <td>break</td> </tr>
      <tr> <td>14:00</td>  <td>Getting started with R and RStudio</td> </tr>
      <tr> <td>14:50</td>  <td>break</td> </tr>
      <tr> <td>15:00</td>  <td>Data structures</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 26th: Shell and Version Control</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Intro to shell</td> </tr>
      <tr> <td>13:50</td>  <td>break</td> </tr>
      <tr> <td>14:00</td>  <td>Version control and collaboration</td> </tr>
      <tr> <td>14:50</td>  <td>break</td> </tr>
      <tr> <td>15:00</td>  <td>Branching and remotes</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>June 29: Programming</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Working with data frames</td></tr>
      <tr> <td>13:50</td>  <td>break</td> </tr>
      <tr> <td>14:00</td>  <td>Control flow</td> </tr>
      <tr> <td>14:50</td>  <td>break</td> </tr>
      <tr> <td>15:00</td>  <td>Functions</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 1: Working with Data</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Transforming data with dplyr</td></tr>
      <tr> <td>13:50</td>  <td>break</td> </tr>
      <tr> <td>14:00</td>  <td>Grouping, applying, summarising</td> </tr>
      <tr> <td>14:50</td>  <td>break</td> </tr>
      <tr> <td>15:00</td>  <td>Plotting with ggplot </td> </tr>
      <tr> <td>16:00</td>  <td>END</td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>July 2: Plots and Reports</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>What is "tidy" data?</td> </tr>
      <tr> <td>14:15</td>  <td>break</td> </tr>
      <tr> <td>14:30</td>  <td>Writing <s>reports</s>everything with RMarkdown</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap up</td> </tr>
    </table>
  </div>
</div>
